function updateStyles() {
    const styleMap = {
        "--background-color": document.getElementById("background_color__value").textContent ?? "#FFF",
        "--foreground-color": document.getElementById("foreground_color__value").textContent ?? "#000",
    };
    for (const [key, value] of Object.entries(styleMap)) {
        document.documentElement.style.setProperty(key, value);
    }
}
window.onload = () => {
    htmx.on("htmx:load", updateStyles);
    htmx.on("htmx:error", function (_) {
        document.body.innerHTML = "<h1>Server Error</h1>";
    });
}
