name: Publish Image

on:
  push:
    tags: ["v*"]

jobs:
  publish-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: stable
          check-latest: true
      - uses: actions/checkout@v6
      - uses: ko-build/setup-ko@v0.9
      - run: ko build --bare --tags=latest,${GITHUB_REF#refs/tags/v}
